html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body{
    color:#444;
    font-family:'Meiryo UI', Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size:12px;
    line-height:1.5em;
    padding:1em;
    margin:auto;
    max-width:50em;
    background:#fefefe;
}

/* floating toc link button */
.toc_button_top    { position: fixed; top:    20px; right: -30px; padding: 6px 40px; }
.toc_button_bottom { position: fixed; bottom: 20px; right: -30px; padding: 6px 40px; }

a{ color: #0645ad; text-decoration:none;}
a:visited{ color: #0b0080; }
a:hover{ color: #06e; }
a:active{ color:#faa700; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }

a.term:hover{ text-decoration:underline; }
a.autolink:hover{ text-decoration:underline; }

::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
::selection{background:rgba(255,255,0,0.3);color:#000}

a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

p{
    margin:1em 0;
}

p.footnote{  font-size: 80%; line-height: 1.1em; }
p.fig_title{ text-align: center; font-weight: bold; line-height: 0.6em; padding-bottom: 10px }
p.tbl_title{ text-align: center; font-weight: bold; line-height: 0.6em; padding-top:    10px }
p.pagebreak{ page-break-after: always; }

img{
    max-width:100%;
}

h1,h2,h3,h4,h5,h6{
    padding-top: 0.5em;
    font-weight:normal;
    color:#111;
    line-height:1em;
}
h4,h5,h6{ font-weight: bold; }
h1{ margin-top:1.5em; font-size:2.5em; }
h2{ margin-top:1.5em; font-size:2em; }
h3{ margin-top:1.5em; font-size:1.5em; }
h4{ margin-top:1.5em; font-size:1.2em; }
h5{ margin-top:1.5em; font-size:1em; }
h6{ margin-top:1.5em; font-size:0.9em; }

blockquote{
    color:#666666;
    margin:0;
    padding-left: 1.5em;
    border-left: 0.5em #EEE solid;
}
hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;
     border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }

kbd, samp { color: #000; background:#eee;
                 line-height:1.2em;
                 _font-family: monospace, monospace;
                 font-family: 'Courier New', monospace; font-size: 0.98em; }
code { color: #000;
       line-height:1.2em;
       _font-family: monospace, monospace;
       font-family: 'Courier New', monospace; font-size: 0.98em; }

/* normal pre block */
pre {
    background:     #eee;
    color:          #000;
    font-size:      12px;
    border:         1px solid #ccc;
    border-radius:  8px;
    margin-left:    2em;
    margin-right:   2em;
    padding:       .5em;

    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height:1.2em;
    _font-family: monospace, monospace;
    font-family: 'Courier New', monospace;
}

b, strong { font-weight: bold; }

dfn { font-style: italic; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-weight: bold; }
mark_bak { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 0.2em 0; padding: 0 0 0 2em; }
li p:last-child { margin:0 }
dd { margin: 0 0 0 2em; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

table {
border-collapse: collapse;
border-spacing: 0;
}
th { text-align;  center; padding: 3px; border: 1px solid black; border-bottom: 2px solid black; background: #D9E2F3  }
td { vertical-align: top; padding: 3px; border: 1px solid black;}

/* for filters */
pre.diff {
    background:     #334;
    color:          #fff;
    font-size:      12px;
    border:         1px solid #000;
    border-radius:  8px;
    margin-left:    2em;
    margin-right:   2em;
    padding:       .5em;
}
span.diff_head { color: #FF88FF; background: #550055; font-weight: bold; }
span.diff_line { color: #CCCCFF; background: #000077; font-weight: bold; }
span.diff_add  { color: #DCFBDC; background: #004400; font-weight: bold; }
span.diff_del  { color: #FBDCDC; background: #550000; font-weight: bold; }

pre.code {
    background:     #e0eaee;
    color:          #000000;
    font-size:      14px;
    border:         1px solid #aaa;
    border-radius:  8px;
    margin-left:    2em;
    margin-right:   2em;
    padding:       .5em;
}
span.comment  { color: brown; }
span.keyword1 { color: blue; }
span.keyword2 { color: green; }
span.keyword3 { color: darkslateblue; }
span.keyword4 { color: #b07e00; }
span.keyword5 { color: purple; }
span.keyword6 { color: gray; }
span.literal  { color: #bf0303; }


/* for highlight */
pre.hl  { color:#000000; background-color:#e0eaee; font-size:11pt; font-family:'Courier New',monospace; white-space: pre-wrap; }
.hl.num { color:#b07e00; }
.hl.esc { color:#ff00ff; }
.hl.sng { color:#bf0303; }
.hl.pps { color:#818100; }
.hl.slc { color:#838183; font-style:italic; }
.hl.com { color:#838183; font-style:italic; }
.hl.ppc { color:#008200; }
.hl.opt { color:#000000; }
.hl.ipl { color:#0057ae; }
.hl.lin { color:#555555; user-select: none; }
.hl.hvr { cursor:help; }
.hl.erm { color:#ff0000; font-weight:bold; border:solid 1px red; margin-left: 3em; }
.hl.err { color:#ff0000; font-weight:bold; }
.hl.kwa { color:#000000; font-weight:bold; }
.hl.kwb { color:#0057ae; }
.hl.kwc { color:#000000; }
.hl.kwd { color:#010181; }
.hl.kwe { color:#0d5bc3; }
.hl.kwf { color:#750dc3; }

/* for collapse */
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    background: #fefeee;
}
summary {
    margin: -.5em -.5em 0;
    padding: .5em;
}
details[open] {
    padding: .5em;
}
details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

/* for toc-x */
blockquote.tocx {
    color:#666666;
    margin:0;
    padding-left: 1.5em;
    border-left: 0.5em white solid;
}
li.tocx {
}
details.tocx {
    border: 1px solid white;*/
    border-radius: 0px;
    padding: .2em .2em 0;
    background: white;
}
summary.tocx {
    margin: -.2em -.2em 0;
    padding: 0em;
}
details.tocx[open] {
    padding: .2em;
}
details.tocx[open] summary.tocx {
    border-bottom: 1px solid white;
    margin-bottom: .2em;
}


/* for index-x */
blockquote.idx_x {
    color:#666666;
    margin:0;
    padding-left: 1.5em;
    border-left: 0.5em white solid;
}
li.idx_x {
}
details.idx_x {
    border: 1px solid white;*/
    border-radius: 0px;
    padding: .2em .2em 0;
    background: white;
}
summary.idx_x {
    margin: -.2em -.2em 0;
    padding: 0em;
}
details.idx_x[open] {
    padding: .2em;
}
details.idx_x[open] summary.idx_x {
    border-bottom: 1px solid white;
    margin-bottom: .2em;
}


@media only screen and (min-width: 480px) {
body{font-size:14px;}
}

@media only screen and (min-width: 768px) {
body{font-size:16px;}
}

@media print {
  * { background: transparent !important; color: black !important; filter:none !important; -ms-filter: none !important; }
  body{font-size:12pt; max-width:100%;}
  a, a:visited { text-decoration: underline; }
  hr { height: 1px; border:0; border-bottom:1px solid black; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; padding-right: 1em; page-break-inside: avoid; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page :left { margin: 15mm 20mm 15mm 10mm; }
  @page :right { margin: 15mm 10mm 15mm 20mm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
